{% extends 'base/index.html' %}
{% load static %}

{% block content %}

<main class="container-fluid mt-2">
    
    <div class="container-fluid px-4"> 
        <div class="card mb-4">
            <h3>Listado de Productos</h3>
            <div class="p-2">
                <a class="btn btn-primary" href="{% url 'Nuevo' %}" > <i class="fa-solid fa-plus"></i> Nuevo</a>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Descripcion</th>
                            <th>Precio Costo</th>
                            <th>Precio Venta</th>
                            <th>Impuesto</th>
                            <th>Existencia</th>

                            <th>Operaciones</th>
                        </tr>
                    </thead>
                  
                    {% for p in productos %}
                    <tbody>
                        <tr>
                            <td> {{p.id}} </td>
                            <td> {{p.descripcion}} </td>
                            <td> {{p.precio_costo|floatformat:0 }} </td>
                            <td> {{p.precio_venta|floatformat:0 }} </td>
                            <td> {{p.impuesto.descripcion}} </td>
                            <td> {{p.existencia}} </td>
                            <td> <button class="btn btn-secondary"><i class="fa-solid fa-arrows-rotate"></i></button>
                                 <button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button> </td>
                        </tr>
                      
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</main>

{% endblock %}